# Add configuration values here, as shown below.
#
# pusher_app_id:
# pusher_key:
# pusher_secret:
#   STRIPE_SECRET_KEY:
#   stripe_publishable_key:
#
# production:
#   STRIPE_SECRET_KEY:
#   stripe_publishable_key: 
