<div class="container"
<h1 class="pull-left">New Wiki</h1>

<div class="row">
  <div class="center">

  </div>
  <div class="center">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>
</div>
